---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>mis pensamientos aleatorios (un blog)</h1>
        <!-- TODO: hace esta parte dinamica -->
        <ul>
            <li><a href="/blog/furality-sylva-dj-sets">furality sylva dj sets</a></li>
        </ul>
    </main>
</Layout>
