---
import Layout from '../layouts/Layout.astro';
import CohostMention from '../components/CohostMention.astro';
---

<Layout title="changelog + todo">
	<main>
		<h1>changelog + todo</h1>

		<h2>changelog</h2>
        <p>jul. 7 2023 - ¡hola, mundo! quería publicar este sito a la red ahora o nunca voy a pensar que estará listo.
			agregé <a href="/">mi página index</a>, <a href="/blog">mi blog</a> y 
			<a href="/blog/furality-sylva-dj-sets">mi primer post en progresso, "furality sylva dj sets"</a>.
			también agregé unas cosas divertidas como este cohost mención: <CohostMention username="dvartho" />. ¡coolio!
		</p>

		<h2>todo</h2>
		<ul>
			<li>completar <a href="/blog/furality-sylva-dj-sets">furality sylva dj sets</a></li>
			<li>agregar más menciones (para twitter, instagram, etc)</li>
			<li>implementar tags, drafts, fecha de posts, l88n en inglés</li>
			<li>crear embeds para mixcloud/youtube/spotify que cargar con un clic</li>
			<li>más posts</li>
			<li>enlacer a github</li>
			<li>agregar favicon custom</li>
			<li>agregar fotos de rv</li>
			<li>enlacer a mi perfil de vrchat</li>
		</ul> 
	</main>
</Layout>
