---
import Layout from '../layouts/Layout.astro';
import CohostMention from '../components/CohostMention.astro';
---

<Layout title="mil gracias">
	<main>
		<h1>mil gracias a estas personas</h1>
        <ul>
            <li><CohostMention username="nex3" /> para <a href="https://cohost.org/nex3/post/2554-i-went-ahead-and-vec">su eggbug lindo y vectorizado</a></li>
        </ul>
    </main>
</Layout>

