<nav>
    <ul>
        <li><a href="/">mi rincón</a></li>
        <li><a href="/sobre mí">sobre mí</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/mil gracias">mil gracias</a></li>
        <li><a href="/changelog + todo">changelog + todo</a></li>
    </ul>
</nav>

<style>
/* align in middle of page, remove ul styling */
ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    margin: 0 1em;
}
</style>